@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}
.loading {
  display: flex;
  justify-content: center;
  gap: 3px;
  align-items: center;
}
.loading-text {
  margin: 0;
}
.show-eye {
  position: absolute;
  top: 39px;
  right: 15px;
}
.password-wrap {
  position: relative;
}
.access-req {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.new-account p {
  text-align: center;
}
/* Loader.css */
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9; /* Background color for loading screen */
}

.loader {
  display: flex;
  justify-content: space-between;
  width: 60px;
  height: 60px;
  position: relative;
}

.circle {
  width: 15px;
  height: 15px;
  background-color: #3498db; /* Circle color */
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

.circle:nth-child(2) {
  animation-delay: 0.2s;
}

.circle:nth-child(3) {
  animation-delay: 0.4s;
}

.circle:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

h2 {
  color: #555;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
}
.logo {
  width: 300px;
}
.singup-logo {
  width: 200px;
}
.logo-abbr {
  border-radius: 5px;
}
.save-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.save-setting {
  display: flex;
  justify-content: end;
  align-items: center;
}
.site-info {
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  border: 1px solid#0000001f;
  margin: 20px 0px;
}
.loading-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.loading-bar {
  background-color: #cbd5e1;
  height: 50px;
  width: 100%;
  border-radius: 5px;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.job-loading-row {
  width: 100%;
  height: 100px; /* Height equivalent to Tailwind's h-52 (52 * 4px) */
  border: 1px solid #d1d5db; /* Tailwind's border-gray-300 */
  border-top: 0;
  animation: pulse 1.5s infinite;
}

.job-loading-cell {
  padding: 10px 0px; /* Equivalent to Tailwind's p-5 (5 * 4px) */
  vertical-align: top;
  text-align: left;
  width: 25%; /* Each td gets one-fourth of the width */
}

.job-loading-cell .loading-bar {
  width: 100%;
  background-color: #cbd5e1; /* Equivalent to bg-slate-200 in Tailwind */
  height: 30px; /* Equivalent to h-5 (5 * 4px) in Tailwind */
  border-radius: 4px;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* Styles for the main container */
.custom-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 16px;
  background-color: #ffffff;
  width: 70%;
  margin-top: 20px;
  padding: 50px;
}
.custom-flex {
  display: flex;
  gap: 30px;
  align-items: center;
}
/* Responsive padding */
@media (max-width: 1400px) {
  .custom-shadow {
    padding: 32px;
  }
  .custom-shadow {
    width: 100%;
  }
  .single-job-loading {
    width: 100%;
  }
  .image-gallery img {
    width: 100px;
    height: 70px;
  }
}

/* Title styles */
.job-title {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: capitalize;
  color: black;
}

@media (min-width: 768px) {
  .job-title {
    font-size: 2.5rem;
  }
}

/* Flexbox and layout styles */
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

@media (min-width: 768px) {
  .flex-container {
    align-items: center;
  }
}

/* Spacing and border styles */
.border-bottom {
  padding: 20px 0;
  border-bottom: 1px solid #e5e7eb;
  margin-bottom: 20px;
}

.gap-5 {
  gap: 20px;
}

.w-full {
  width: 100%;
}

/* Span and image styles */
.info-box {
  display: flex;
  gap: 8px;
  background-color: #ffeae8;
  padding: 5px 15px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}
.info-box h3 {
  margin: 0px;
}
.text-red {
  color: #ff0000;
  font-size: 1rem;
  font-weight: normal;
}

.text-blue {
  color: #0050b2;
  margin: 0px;
}

.text-black {
  color: black;
  margin: 0px;
}

.job-description {
  font-size: 1rem;
  font-weight: normal;
}

.image-gallery {
  display: flex;
  gap: 10px;
  padding: 20px 0;
  flex-wrap: wrap;
}

.gallery-image {
  width: 200px;
  height: 130px;
  object-fit: cover;
  border-radius: 8px;
}

/* Popup styles */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  position: relative;
  max-width: 50%;
  width: 50%;
}
.popup-content img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.popup-close-button {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 10px;
  width: 40px;
  height: 40px;
  background-color: black;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

/* Icon and text */
.icon-text {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 1rem;
}

.icon-text img,
.icon-text i {
  width: 16px;
}
.question-list li {
  border-bottom: 1px solid #00000036;
  padding: 20px 0px;
}
.question-list li:last-child {
  border-bottom: none;
}
.question-list h3 {
  color: #111111;
  font-size: 18px;
}
.question-list p {
  color: #111111;
  font-size: 14px;
}
.question-list {
  border: 1px solid #00000018;
  padding: 40px;
  border-radius: 10px;
}
.back-button {
  border: 1px solid #00000018;
  padding: 3px 20px;
  border-radius: 5px;
  background-color: #fff;
  color: #111111;
  margin-bottom: 10px;
}
.single-job-loading {
  width: 70%;
  padding: 20px;
  background-color: white;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loading-bar {
  width: 100%;
  height: 20px;
  background-color: #e2e8f0;
  border-radius: 8px;
  animation: pulse 1.5s ease-in-out infinite;
}

.loading-flex {
  display: flex;
  gap: 15px;
  align-items: center;
}

.loading-flex.large {
  gap: 10px;
}

.loading-box {
  flex-grow: 1;
  height: 20px;
  background-color: #e2e8f0;
  border-radius: 8px;
  animation: pulse 1.5s ease-in-out infinite;
}

.loading-box.large {
  height: 80px;
}

.loading-flex-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

.loading-box.extra-large {
  height: 130px;
}

@keyframes pulse {
  0% {
    background-color: #e2e8f0;
  }
  50% {
    background-color: #f1f5f9;
  }
  100% {
    background-color: #e2e8f0;
  }
}
.status-btn {
  display: flex;
  gap: 8px;
  background-color: #ffeae8;
  padding: 5px 15px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  color: #111111;
  text-transform: capitalize;
}
.gallery-image {
  cursor: pointer;
}
.applicants-table {
  max-width: 100%;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}
.custom-verify {
  height: 30px;
  padding: 0px 10px;
  margin: 0px;
}
